@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #070721;
  --btn: #0d5eff;
  --primary: #ebebf8;
  --secondary: #51f3ff;
  --ternary: #ff710b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08082e;
    --foreground: #ededed;
    --btn: #0d5eff;
    --primary: #ebebf8;
    --secondary: #51f3ff;
    --ternary: #ff710b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
